*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.conatainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 217px;
    background-color: rgb(148, 148, 221);
}
